@font-face {
  font-family: "din-1451-alt";
  src: url("fonts/din1451alt.woff2");
}

@font-face {
  font-family: "din-1451-alt";
  font-weight: bold;
  src: url("fonts/din1451alt_g.woff2");
}

@font-face {
  font-family: "din-1451-breit";
  font-weight: bold;
  src: url("fonts/DIN1451-36breit.woff2");
}

html, body, #root {
  height: 100%;
}

.pf-v5-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}

:root {
  --pf-v5-global--FontFamily--text: "din-1451-alt", helvetica, arial, sans-serif;
  --pf-v5-global--FontFamily--heading: "din-1451-breit", helvetica, arial, sans-serif;
  --pf-v5-global--FontFamily--monospace: "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
  --pf-v5-global--FontFamily--text--vf: "din-1451-alt", helvetica, arial, sans-serif;
  --pf-v5-global--FontFamily--heading--vf: "din-1451-breit", helvetica, arial, sans-serif;
  --pf-v5-global--FontFamily--monospace--vf: "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
}
