[Unit]
Description=Dopamin ASGI Server
After=network-online.target
Wants=network-online.target

[Service]
User=dopamin
Type=simple
RuntimeDirectory=dopamin-api
Environment="DJANGO_SETTINGS_MODULE=dopamin.prod-settings"

ExecStart={{ data_dir }}/venv/bin/daphne -b 127.0.0.1 -p 8000 dopamin.asgi:application --access-log -
Restart=on-failure

# Enables tracking of process resource consumption at a unit & cgroup level.
CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
