server {
  listen 80;
  listen [::]:80;
  server_name dopamin;
  root {{ data_dir }}/static/;
  location / {
    try_files $uri /index.html;
  }
  location /api/ {
    proxy_pass http://127.0.0.1:8000;
    proxy_set_header Host $http_host;
  }
  location /ws/ {
    proxy_pass http://127.0.0.1:8000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_set_header Host $host;
  }
  location /static/ {
    alias {{ data_dir }}/static/;
  }
}
