from dopamin.settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = "{{ dopamin_secret_key }}"

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ["localhost", "{{ ansible_hostname }}"]

# Database
# https://docs.djangoproject.com/en/4.0/ref/settings/#databases

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "dopamin",
        "USER": "dopamin",
    },
}

CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [("localhost", 6379)],
        },
    },
}

STATIC_ROOT = "{{ data_dir }}/static/"
